/* medium article */
.medium-article {
    margin-bottom: 1.2rem;
}

.medium-article>h3 {
    grid-area: title;
    font-size: 1.2rem;
    font-weight: 600;
}

.medium-article>p:nth-child(2) {
    grid-area: intro;
    color: var(--muted-color);
    font-size: .8rem;
    margin-bottom: .6rem;
}

.medium-article>p:nth-child(3) {
    grid-area: body;
    font-size: .9rem;
    margin-bottom: .4rem;
}

.medium-article>a {
    grid-area: link;
    font-weight: 600;
    color: #2d9bf0;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: .3rem;
    cursor: pointer;
}